<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
  <!-- GOOGLE-FONTS  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Caveat:wght@600&family=Codystar&family=DynaPuff:wght@400;600&family=IBM+Plex+Mono&family=Montserrat&family=Open+Sans&family=Pacifico&family=Play:wght@400;700&family=Press+Start+2P&family=Rubik+Pixels&family=Sedgwick+Ave+Display&family=Sigmar&family=Tilt+Prism&family=Ubuntu&display=swap" rel="stylesheet">
</head>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li name= "HOM" id="home"><a href="/">HOME</a></li>
          <li name= "ABT" id="about"><a href="/about">ABOUT US</a></li>
          <li name= "CNT" id="contact"><a href="/contact">CONTACT US</a></li>


        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
