<%- include("partials/header")-%>
  <h1>ComPoSE</h1>

  <form id="para_Hom" action="/compose" method="post">
    <label for="blogTitle">Title:</label>
    <br>
    <input type="text" class="form-control"
    name="addTitle">
    <br>
    <br>
    <label for="blogContent">Post:</label>
    <textarea class="form-control" name="addPost" rows="12"></textarea>
    <br>
    <button id="newPost" type="submit">Publish</button>
  </form>
  


  <%- include("partials/footer") -%>