


  <%- include("partials/header") -%>
<h1>Detailed Post</h1>
<div>
  <div class="post">
    <h3 class="blogTitle"><%= titleSingle %></h3>
    <p id="para_Hom"><%= postSingle %></p>
  </div>
  <br>
</div>


  